html, body{
	background-image: url(../images/background.png);
	background width: 1800px;
	background-repeat: no-repeat;
	padding-left: 10em;
	padding-right: 10em;
	font-family: sans-serif;
	
}
header{
	font-size: 48px;
	color:Blue;
	text-align: center;

}
footer{
	font-size: 18px;
}

div{
	display: inline-flex;
	padding-right:30px;
	height:100%;
	width:100%;


}
.social{
	font-size: 48px;
}



@media screen and (min-width: 800px){


}