
html, body{	
	font-family: sans-serif;
	line-height: 1.25;
	min-height: 100%;
	font-size: 100%
	
}

body{
	margin:0;
	font-size: 20px;
	margin: 1em;
}

article,aside,footer,header,nav,section{
	display:block;
}

div{
	
	height: 100%;
	width: 100%;
}

h3{
	font-size: 30px;
	margin:0.67em 0;
	text-align: center;
}
h4{
	font-size: 20px;
	margin:0.67em 0;
}

img{
	margin:10px;
	width:600px;
}


header{
	font-size: 40px;
	color:  #204156;
	text-align: center;

}
nav{
	background-color: #deefe5;
	font-size: 32px;
	text-align: center;
	border: 1px solid;

	}
nav li{
	margin:0;
	padding:0 10px;
	display:inline;
}
nav ul{
	display:inline;
}
nav a{
	height:60px;
	line-height: 60px;
	color:#204156;
	text-decoration: none;
}


footer{
	font-size: 16px;
	background-color: #deefe5; 
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	min-width: 400px;
}




#mainbody{
	background-image: url(../images/background.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	margin:0;

}
#aboutbody{
	background-image: url(../images/light.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	margin:0;

}
#journalbody{
	background-image: url(../images/rings.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	margin:0;
}
#projectsbody{
	background-image: url(../images/vast.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	margin:0;
}

.content{
	width: 95%;
	background: rgba(255,255,255,0.3);
	margin-bottom: 25px;
	margin-right: 25px;
	margin-left:25px;
	padding-left: 10px
	padding-right: 20px;
}

.gallery{
	margin-top: 20px;
	color:black;
}
.gallery-item{
	margin:10px;
	
}
.imgdisplay{
	border:3px solid #FFF;
	height: 400px;
	width:600px;
}

.footer{
	position: relative;
	margin-top: -52px;
	right:0;
	bottom:0;
	left: 0;

}

.container{
	columns: 2;

}
.social{
	display:inline-block;
	width:50%;
}
.copyright{
	padding-top: 2em;
	display:inline-block;
	width:50%;
}

.logo{
	width:40px;
}


@media screen and (min-width: 800px){


}
