
html, body{	
	font-family: sans-serif;
	line-height: 1.15;
	min-height: 100%;
	font-size: 100%
	
}

body{
	margin:0;
}

article,aside,footer,header,nav,section{
	display:block;
}

h1{
	font-size: 2em;
	margin:0.67em 0;
}

header{
	font-size: 40px;
	color: #3c63a3;
	text-align: center;

}
nav{
	font-size: 32px;
	text-align: center;
	border: 1px solid;

	}
nav li{
	margin:0;
	padding:0 10px;
	display:inline;
}
nav ul{
	display:inline;
}
nav a{
	height:60px;
	line-height: 60px;
	color:#204156;
	text-decoration: none;
}
footer{
	font-size: 16px;
	color: DarkScaleGray;
	background-color: #deefe5; 
	padding-left: 10em;
	padding-right: 10em;
	padding-top: 1em;
}

div{
	padding-right: 30px;
	height: 100%;
	width: 100%;
}

#mainbody{
	background-image: url(../images/background.png);
	background-size: cover;
	background-repeat: repeat-x;
	margin:0;

}
#aboutbody{
	background-image: url(../images/rings.png);
	background-size: cover;
	background-repeat: repeat-x;
	margin:0;
}
#journalbody{
	background-image: url(../images/light.png);
	background-size: cover;
	background-repeat: repeat-x;
	margin:0;
}
#projectsbody{
	background-image: url(../images/vast.png);
	background-size: cover;
	background-repeat: repeat-x;
	margin:0;
}

.poem{
	font-size: 20px;
	text-align: center;
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}
.gallery-item{
	margin:10px;
	border:3px solid #FFF;
}
#maple{
	height: 400px;
}
#flower{
	height: 400px;
}


.container{
	columns: 2;
}
.social{
	display:inline-flex;
}
.copyright{
	padding-top: 2em;
}

.logo{
	width:48px;
}


@media screen and (min-width: 800px){


}
